body {
  margin: 0;
  height: 100vh;
}
#root {
  margin: 0 auto;
  display: flex;
  max-width: 800px;
  justify-content: center;
  background-color: #bdc3c7;
}
.container {
  height: 100vh;
  max-width: 600px;
}
.container .maskWord {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 50px auto;
  background: #efefef;
}
.container .maskWord span {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 10px;
}
